@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #fbbf24;
  --color-accent: #3b82f6;
  --color-dark: #0f172a;
  --font-family-sans: 'Inter', sans-serif;
  --font-family-serif: 'Playfair Display', serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}
